%fz16w{
	font-size: rem(16);
	font-weight: 400;
	line-height: math.div(21 , 16);
	color: $whiteColor;
}

%fz16b{
	font-size: rem(16);
	font-weight: 400;
	line-height: math.div(21 , 16);
	color: $whiteColor;
}